@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DOS";
  src: url("/Perfect DOS VGA 437 Win.ttf");
}
:root {
  font-family: "DOS";
  line-height: 1.5;
  font-weight: 400;
  color: #41ff00;
  background-color: #04001c;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border: 2px solid #238a00;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #f3efe0;
  border: 2px solid #238a00;
  border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
