@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DOS";
  src: url("/Perfect DOS VGA 437 Win.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("/SourceCodePro_VariableFont_wght.ttf");
}
:root {
  font-family: "Source Code Pro";
  letter-spacing: -1px;
  h1 {
    font-family: "DOS";
    color: #82c05c;
    font-size: 2rem;
  }
  a:link {
    cursor: url("/lime-green/Link Select.cur"), pointer;
  }
  line-height: 1.5;
  font-weight: 400;
  color: #ebe8ff;
  background-color: #04001c;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border: 2px solid #8f8b7e;
  border-radius: 0.5rem;
}
/* rgb(75, 95, 65) */
*::-webkit-scrollbar-thumb {
  background-color: #b5b2a7;
  border-radius: 0.5rem;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
@media only screen and (min-width: 768px) {
  :root {
    text-align: justify;
    letter-spacing: -3px;
  }
}
